<!-- <create-contact-form></create-contact-form> -->


<!-- Task 3 -->
<!-- <div *ngFor="let item of information; let i=index">
    <p>{{item.name}} </p>
</div> -->


<!-- working sample before editing -->
<div class="ct">
    <klloyds-contact-form (contact)="showForm($event)"  [theData]="data"></klloyds-contact-form>
    <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>


<!-- commented  -->
  <!-- <klloyds-contact-form (contact)="showForm($event)" *ngFor="let info of information;" [theData]="data"></klloyds-contact-form> -->
<!-- </div> -->


<!-- looping through the data array to print ten contact forms
containing the d array of user information -->


<!-- <div class="ct"> -->
<!-- <div *ngFor="let item of info">
  <klloyds-contact-form (contact)="showForm($event)"  [theData]="data"></klloyds-contact-form>
   <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>

</div> -->
  
</div>



<!-- <div class="ct">
  <klloyds-contact-form></klloyds-contact-form>
  <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>
</div>

<div class="ct">
  <klloyds-contact-form></klloyds-contact-form>
  <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>
</div>
<div class="ct">
  <klloyds-contact-form></klloyds-contact-form>
  <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>
</div>
<div class="ct">
  <klloyds-contact-form></klloyds-contact-form>
  <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>
</div>

<div class="ct">
  <klloyds-contact-form></klloyds-contact-form>
  <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>
</div>

<div class="ct">
  <klloyds-contact-form></klloyds-contact-form>
  <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>
</div>

<div class="ct">
  <klloyds-contact-form></klloyds-contact-form>
  <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>
</div>

<div class="ct">
  <klloyds-contact-form></klloyds-contact-form>
  <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>
</div>

<div class="ct">
  <klloyds-contact-form></klloyds-contact-form>
  <button class="btn btn-danger" (click)="triggerMe()">Trigger Me</button>
</div> -->

